body {
    /*background-color: #c3c6dabb;  
    background-color: black;  */
   
}
*, a {
    color: rgb(95, 148, 15);
}

.containerBody {
    background: url("../images/concrete_seamless.png");
   /* background-color: #fff;  */
    max-width:960px;
    
}
.nav-link {
    color: rgb(95, 148, 15);
}
.navbar-brand {
    background-color:  rgb(95, 148, 15);
}

a.navbar-brand.p-4  {
    color: white;
}

h2 {
    color: rgb(95, 148, 15);
}
hr {
    color: rgb(95, 148, 15);
}
.btn {
      background-color:rgb(95, 148, 15);
      border-color: rgb(95, 148, 15);
    
}
.card img {
    width: 220px;
    height: 200px;
    border: 2px;
    border-style: solid;
    border-color: rgb(95, 148, 15);
    margin-left: 15px;
}

.cardImg {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    
}
  .form-group {
      width: 100%;
  }
  hr {
      margin:0;
      padding:0;
  }
  .box1 figcaption{
    
    font-size: 20px;  
    height: 60px;
    width: 300px;
    background-color: teal;
    color:white;
    position: absolute;
    top:200px;

}
.card {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(95, 148, 15);
}
footer p {
    color: rgb(95, 148, 15);
}
